.App {
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.firstContainer {
  width: 327px;
  height: 360px;
  border-radius: 15px;
  background-color: #232a34;
  padding-top: 20px;
  padding-left: 20px;
}
.starDiv{
  width: 48px;
  height: 48px;
  background-color: #262E38;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.starImg{
  margin: 0 auto;
}
.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.numberButton{
    width: 42px;
    height: 42px;
    background-color: #262E38;
    border-radius: 25px;
    margin-right: 14px;
    margin-bottom: 24px;
}
.numberButton:hover{
    background-color: #FC7614;
}
.buttonSubmit{
    width: 279px;
    height: 45px;
    border-radius: 23px;
    background-color: #FC7614;
    display: flex;
    justify-content: center;
    align-items: center;
  }
